<div class="page-header custom-page-header" data-parallax="true"  >
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Cardápio</h1>
            </div>

            <h2 class="presentation-subtitle text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis elit id convallis blandit</h2>
        </div>
    </div>
</div>
<div class="main">
        <div class="content">
                <div class="container-fluid">
                    <div class="filter">
                        <div class="row">
                                <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Procurar" aria-describedby="basic-addon1" (change)="onProcurarChange($event)">
                                    <span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
                                </div>
                            </div>     
                            <div class="col-sm-2">
                                <div ngbDropdown class="d-inline-block dropdown">
                                    <a class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Selecione um tipo</a>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                        <a class="dropdown-header">Tipo de comida</a>
                                        <a class="dropdown-item">Tipo 1</a>
                                        <a class="dropdown-item">Tipo 2</a>
                                        <a class="dropdown-item">Tipo 3</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">Tipo 4</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">Tipo 5</a>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-sm-2">
                                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                    <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <button ngbDropdownItem>One</button>
                                        <button ngbDropdownItem>Two</button>
                                        <button ngbDropdownItem>Four!</button>
                                    </div>
                                </div>
                            </div>                 
                        </div>  
                    </div>
                    <div class="line-horizontal"> </div>
                    <br/><br/>
                    <div class="card-list-content">
                        <div class="row">
                            <div class="col-sm-4"  *ngFor="let item of menuListPage1">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                        <img class="card-img" [src]="item.photo">
                                        <p class="card-text">{{ item.descripton }}</p>
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"  *ngFor="let item of menuListPage2">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                        <img class="card-img" [src]="item.photo">
                                        <p class="card-text">{{ item.descripton }}</p>
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"  *ngFor="let item of menuListPage3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                        <img class="card-img" [src]="item.photo">
                                        <p class="card-text">{{ item.descripton }}</p>
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-4"  *ngFor="let item of menuListPage3">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-plus-circle fa-4x" aria-hidden="true" (onClick)="onClickMore"></i></span>
                            </div>
                        </div> -->
                    </div>  
                </div>
        </div>          
</div>