.custom-page-header {
    background-image: url('/assets/img/background.png');
}

.filter{
    margin: 1rem;
}

.card-list-content{
    margin: 1rem;
}

.search-icon{
    padding: 0.2rem;
}

.line-horizontal { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.card-img {
    width: 33rem;
    text-align: center;
    padding: 2rem;
    height: 18rem;
}
.acn_Custom_Card {
    position: relative; 
    display: inline-flex; 
    flex-direction: column; 
    vertical-align: top; 
    box-sizing: border-box; 
    background: #fff; 
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 0.25rem; 
    width: auto; 
    height: auto; 
    overflow: hidden; 
    font-family: "72","72full",Arial,Helvetica,sans-serif; 
    font-size: 16px; 
    color: #333; 
    outline: none; 
}

.acn_Custom_Card_Icon {
margin: 1rem;
}

.acn_Custom_Card_Header {
   font-family: "72","72full",Arial,Helvetica,sans-serif;
   font-size: .875rem;
   font-weight: normal;
   color: #666;
   min-height: 1rem;
   margin: 1rem;
}

.acn_Custom_Card_Header_Title {
   font-family: "72","72full",Arial,Helvetica,sans-serif;
   color: #666;
   min-height: 1rem;
   font-size: 1rem;
font-weight: bold !important;
opacity: 0.95 !important;
}